.character-episode-content-title {
  font-size: var(--font-size-xs);
  margin: 0;
  color: #fff;
}

@media (min-width: 768px) {
  .character-episode-content-title {
    font-size: var(--font-size-sm);
  }
}

@media (min-width: 1024px) {
  .character-episode-content-title {
    font-size: var(--font-size-md);
  }
}
